.markdown-preview-view{
    padding: 2em;
    max-width: 800px;
    margin: auto;
    font-family: "Times New Roman", Times, Georgia, serif;
    font-size: 11pt;
    line-height: 1.5;
}

.title{
    font-family: "Times New Roman", Times, Georgia, serif;
    font-size: 30px;
}

.stitle{
    font-weight: bold;
    text-decoration: underline;
    font-family: sans-serif;
    font-size: 13pt;
}

.sstitle{
    font-style: italic;
    font-family: sans-serif;
}

.spacer{
    height: var(--space-size, 1em);
}

hr {
    border: none;
    border-top: 1px solid black;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    width: 100%;
}

.hcontainer{
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    display: flex;
    justify-content: space-between;
}

.vcontainer{
    line-height: 1.3;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
}

